.App {
  font-family: neue-helvetica;
  text-align: center;
}

.MainContainer {
  background-color: #171f29;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.NavBarCol {
  /*background-color: #171f29;
  */
  margin: 15px;
  margin-left: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.ButtonRow {
  display: flex;
}

.ButtonRow,
P {
  display: inline-block;
}
.TweetButton {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 200px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #1c92da;
  border: none;
  cursor: pointer;
}
.TweetButton,
Text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.TweetButton:hover {
  background-color: rgb(14, 136, 211);
}

.NewsFeedCol {
  display: flex;
  flex-direction: column;
}

.HomeHeader {
  border-style: solid;
  border-color: darkslategray;
  padding-left: 10px;
  width: 550px;
}

.ThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchBar {
  background-color: #27323f;
  border: none;
  border-radius: 50px;
  margin-left: 15px;
  margin-right: 10px;
  height: 50px;
}

.TrendingCol {
  border-color: lightslategray;
  background-color: #1b2632;
  border-radius: 20px;
  width: auto;
  padding: 15px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;
  flex-grow: 0.5;
  font-family: neue-helvetica;
}

.TrendingHeader {
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: darkslategray;
}

.Text {
  color: white;
}
.Button {
  background-color: #171f29;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  color: white;
  height: 55px;
  cursor: pointer;
}
.Button:hover {
  background-color: #182d3f;
}

.Button:hover .ButtonText {
  color: #1da2f1;
}
.ButtonText {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
  color: white;
}

.Icon1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-right: 100px;
}

.UserButton {
  display: flex;
  flex-direction: row;
  background-color: #171f29;
  margin-left: 85px;
  margin-bottom: 35px;
  border-radius: 10%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
}

.UserButton:hover {
  background-color: #182d3f;
}
.UserButton:active {
  background-color: #1d3e5a;
}

.UserPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.UserNames {
  margin-left: 15px;
  margin-right: 15px;
}

.UserDisplay {
  color: white;
  margin-bottom: -30px;
  font-size: 16px;
  font-weight: bold;
}
.UserHandle {
  color: #8899a6;
  font-size: 16px;
  margin-left: -10px;
}

.Logo {
  height: 30px;
  width: 40px;
}
